#body {
    background-color: #dffefd;
    min-height: 100vh;
    min-width: 100vw;
}

button {
    text-decoration: none;
    background-color: rgb(235, 219, 137);
    padding: 15px;
    margin: 5px;
    min-width: 100px;
    min-height: 40px;
    border-radius: 10px;
    border: none;
    color: black;
    font-family: "Caveat", cursive;
    font-size: 20px;
    font-style: bold;
    
}

.button-text {
    text-decoration: none;
    color: black;
}

.card{
    display: grid;
    padding: 0px;
    width: 75vw;
    max-width: 800px;
    margin: 20px;
    grid-template-columns: "200px 200px 200px 1fr";
    grid-template-areas: 
    "first second third spacing"
    "base base base base";
    grid-gap: 0px;
}

.card-base{
    grid-area: base;
    background-color: #fffaed;
    border-bottom-left-radius: 20px;
    border-bottom-right-radius: 20px;
    border-top-right-radius: 20px;
    border-color: antiquewhite;
    border-width: 2px;
    border-style: ridge;
    border-top: none;
    padding: 15px;
    margin: 0px;
  
}

.card-tab-first{
    grid-area: first;
    height: 40px;
    width: 203px;
    background-color: #fffaed;
    border-color: antiquewhite;
    border-width: 3px;
   align-items: center;
   border-top-right-radius: 20px;
   border-top-left-radius: 20px;
   border-bottom-right-radius: 0px;
   border-bottom-left-radius: 0px;
   border-style: ridge;
   margin: 0px;
   padding: 0px;
 
  
}
.card-tab-second{
    grid-area: second;
    height: 40px;
    width: 202px;
    background-color: #fffaed;
   align-items: center;
   border-top-right-radius: 20px;
   border-top-left-radius: 20px;
   border-bottom-right-radius: 0px;
   border-bottom-left-radius: 0px;
   border-color: antiquewhite;
   border-width: 3px;
   border-style: ridge;
   margin: 0px;
   padding: 0px;
}



.card-tab-third{
    grid-area: third;
    height: 40px;
    width: 203px;
    background-color: #fffaed;
    border-color: antiquewhite;
    border-width: 3px;
   align-items: center;
   border-top-right-radius: 20px;
   border-top-left-radius: 20px;
   border-bottom-right-radius: 0px;
   border-bottom-left-radius: 0px;
   border-style: ridge;
   margin: 0px;
   padding: 0px;
}

.spacing{
    grid-area: spacing;
    width: 180px;
    margin-right: 20px;
    border-color: antiquewhite;
    border-style: ridge;
    border-bottom-width: 3px;
    border-top: none;
    border-left: none;
    border-right: none;

    padding: 0px;
}

h1{
    font-family: "Caveat", cursive;
  font-optical-sizing: auto;
  font-weight: 15;
  font-style: normal;

}
.tab-text{
    font-family: "Caveat", cursive;
    font-size: 15px;
    font-style: bold;
}

.active-tab{
  border-bottom: none;
  margin: 0px;
  padding: 0px;
}
.recipe-grid{
    display: grid;
    grid-template-columns: 1fr 100px 30px;
    grid-template-areas: 
    " ingredient ingredient save"
    " step step step"
    " description writer writer"
    ;
  }

.description {
    grid-area: description;
    font-family: "Caveat", cursive;
    font-size: 20px;
    font-style: bold;
    text-align: right;
    margin-right: 5px;

}

.ingredient-list {
    grid-area: ingredient;
    columns: 2;
    margin-left: 20px;
}
.ingredient{
    padding: 2px;
}

.recipe-writer{
    grid-area: writer;
}

.avatar-button{
    display: flex;
    width: 110px;
    flex-direction: column;
    align-items: center;

}
.step-list{
    grid-area: step;
}

.save-recipe{
    grid-area: save;
    margin-top: 5px;
    margin-right: 5px;
}

#avatar-text{
    text-align: center;
    align-items: center;
}

#avatar {
    width: 100px;
    height: 100px;
    border-radius: 50%;
    border: 4px double rgb(244, 177, 90);
  }

 .save-icon {
   height: 30px;
 }

 .save-button {
    background-color: #fffaed;
    border: none;
 }



.lil-card{
    padding: 0px;
    width: 300px;
    margin: 20px;
    display: grid;
    grid-template-columns: 150px 150px;
    grid-template-areas: 
    "tab lil-space"
    "lil-base lil-base";
}

.lil-card-base{
    grid-area: lil-base;
    background-color: #fffaed;
    border-bottom-left-radius: 20px;
    border-bottom-right-radius: 20px;
    border-bottom-right-radius: 20px;
   border-bottom-left-radius: 20px;
    border-top-right-radius: 20px;
    border-color: antiquewhite;
    border-width: 2px;
    border-style: ridge;
    border-top: none;
    padding: 15px;
    margin: 0px;
    display: flex;
    flex-direction: column;
    text-decoration: none;
    color: black;
}

.lil-card-tab {
    
    grid-area: tab;
    height: 25px;
    min-width: 100px;
    background-color: #fffaed;
    border-color: antiquewhite;
    border-width: 3px;
 border-top-right-radius: 20px;
   border-top-left-radius: 20px;
   border-style: ridge;
   border-bottom: none;
   text-decoration: none;
    color: black;
    font-family: "Caveat", cursive;
    font-size: 25px;
    font-style: bold;
   text-align: center;
   text-justify: auto;
}

.lil-space{
    grid-area: lil-space;
    margin-right: 20px;
    border-color: antiquewhite;
    border-style: ridge;
    border-bottom-width: 3px;
    border-top: none;
    border-left: none;
    border-right: none;
    padding: 0px;
}

.recipe-writer-lil {
    text-decoration: none;
    color: black;
    font-family: "Caveat", cursive;
    font-size: 15px;
    font-style: bold;
    text-align: right;
}

.card-tags{
    font-family: "Caveat", cursive;
    font-size: 15px;
    text-align: center;
}

.comment-grid {
    display: grid;
   grid-template-columns: 1fr 350px;
   grid-template-areas: 
   "no-comments post-comment-flex"
   "comment-flex post-comment-flex"
   "comment-flex ."
;
}

#post-comment-flex{
    grid-area: post-comment-flex;
}
#no-comments{
    grid-area: no-comments;
}
#post-comment-button{
    margin: auto;
}
#comment-flex{
    grid-area: comment-flex;
    display: flex;
    flex-direction: column;
}

#comment-input-area{
    width: 340px;
    height: 100px;
}

.icon-button{
    background-color: transparent;
    max-height: 10px;
    border: none;
    margin: none;
    padding: none;
}
.icon-button img {
    max-height: 15px;
}

button.icon-button{
    padding: none;
}

#comment{
    background-color: white;
    width: 370px;
    padding: 3px;
    margin: 5px;
    border-radius: 20px;
    border: 4px double rgb(244, 177, 90);
    align-items: center;
    display: grid;
    grid-template-columns:  150px 1fr;
    grid-template-areas: 
    "avatar  comment "
    ".  comment"
    "icons icons"
}

#flag-icons{
    grid-area: icons;
    max-width: 40px;
    display: flex;
    flex-direction: row;
    justify-content: flex-start;
}
#comment-text{
    grid-area: comment;
}

#comment-writer{
    grid-area: avatar;
}

#recipe-photo{
    max-width: 600px;
    border-radius: 40px;
    border: 4px double rgb(244, 177, 90);
}

#submitting-photo{
    max-width: 300px;
    border-radius: 40px;
    border: 4px double rgb(244, 177, 90);
}

#photo-grid{
    display: grid;
    grid-template-columns: 100px 1fr 100px;
    grid-template-areas: 
    "prev-photo recipe-photo next-photo"
    ". recipe-photo ."
    ". photo-caption ."
    ;
}

#prev-photo{
    grid-area: prev-photo;
}

#next-photo{
    grid-area: next-photo;
}

#recipe-photo{
    grid-area: recipe-photo;
    margin: auto;
}

#photo-caption{
    grid-area: photo-caption;
    text-align: center;
    color: black;
    font-family: "Caveat", cursive;
    font-size: 20px;
    font-style: bold;

}

#submitting-photo-grid{
    background-color: white;
    border-radius: 20px;
    border: 4px double rgb(244, 177, 90);
    margin: 20px;
    padding: 15px;

}

#recipes-page-flex{
    display: grid;
    grid-template-columns: 1fr 1fr;
    max-width: 800px;
}

#saved-recipes{
    background-color: rgb(245, 224, 170);
    max-width: 350px;
    border-radius: 20px;
    border: 4px double rgb(244, 177, 90);
    margin: 20px;
    padding: 15px;
}
#my-recipes{
    background-color:  rgb(245, 224, 170);
    max-width: 350px;
    border-radius: 20px;
    border: 4px double rgb(244, 177, 90);
    margin: 20px;
    padding: 15px;
}

.recipe-header-banner{
    max-width: 350px;
 
}

#user-page-grid{
    display: grid;
    grid-template-columns: 120px 1fr;
    max-width: 1000px;
    padding: 5px;
}

#user-page-recipes{
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
}

#settings-grid{
    display: grid;
    grid-template-columns: 200px  1fr 1fr;
    grid-template-areas: 
    ". settings-header settings-header "
    ". admin admin"
    "avatar first first"
    ". password update-button"
    ". update update"
    " .verified verified"
}

#settings-header{
    grid-area: settings-header;
    text-align: center;
}
#settings-avatar{
    grid-area: avatar;
    margin: auto;
}
#admin-tools-button{
    grid-area: admin;
}
#password-reset-button{
    grid-area: password;
}
#first{
    grid-area: first;
    padding: 30px;
    margin: 5px;
    background-color: rgb(244, 244, 244);
    border-radius: 20px;;
}
#update-button{
    grid-area: update-button;
}
#update{
    grid-area: update;
}
#verified{
    grid-area: verified;
    display: grid;
    grid-template-columns: 1fr 1fr;
    grid-template-areas:
    "form avatars"
    " . avatars"
    " . avatars"
}
#settings-form{
    display: grid;
    grid-template-columns: 1fr 2fr;
    max-height: 150px;
    margin: 15px;
}

.avatar-display{
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
}

.avatar-individual-flex{
    display: flex;
    flex-direction: column;
    align-content: center;
    padding: 3px;
    margin: 3px;
    text-align: center;
    background-color: white;
    border-radius: 20px;
}

#register{
    display: flex;
    flex-direction: column;
    flex-wrap: nowrap;
    max-width: 800px;
    background-color: antiquewhite;
    border-radius: 20px;
    padding: 15px;
    margin: auto;
    align-items: center;
}

#first-register{
    display: flex;
    flex-direction: column;
    gap: 5px;
}

#second-register{
    display: grid;
    gap: 15px;
    grid-template-columns: 300px 1fr;
    grid-template-areas: 
    "questions avatars"
    " . avatars "
    ;
}
#second-register-form{
    grid-area: questions;
    display: flex;
    flex-direction: column;
    gap: 20px;
    text-align: center;
}

#avatar-register{
    grid-area: avatars;
}


.avatar{
    width: 100px;
    height: 100px;
    border-radius: 50%;
    border-color:antiquewhite;
    border-width: 4px;
    border-style: double;
   }

   #third-register{
    display: flex;
    flex-direction: column;
    gap: 5px;
   }

   .login-form{
    display: flex;
    flex-direction: column;
    flex-wrap: nowrap;
    max-width: 800px;
    background-color: antiquewhite;
    border-radius: 20px;
    padding: 15px;
    margin: auto;
    align-items: center;
    gap: 15px;
}

#reset-password{
    display: flex;
    flex-direction: column;
    flex-wrap: nowrap;
    max-width: 800px;
    background-color: antiquewhite;
    border-radius: 20px;
    padding: 15px;
    margin: auto;
    align-items: center;
    gap: 15px;
}

#email-confirm{
    display: flex;
    flex-direction: column;
    align-items: center;
}

#code-enter{
    display: flex;
    flex-direction: column;
    align-items: center;
}

#new-password-enter{
    display: flex;
    flex-direction: column;
    align-items: center;
    gap: 15px;
}

#not-signed-in{
    text-align: center;
    background-color: antiquewhite;
    font-size: large;
    width: 400px;
    height:50px;
    border-radius: 20px;
    margin: auto;
    padding: 5px;
}